body {
    background-image: url('default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: "Palatino", "Book Antiqua", serif;
    height: 100%;
}

#intro {
    position: relative;
    padding: 30px 25px;
    margin: 20px;
    width: 60%;
    height: 100px;
    opacity: 0.7;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: center;
    background-color: black;
    font-size: 4rem;
    border-radius: 3%;
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: fixed;
    visibility: hidden;
    margin-top: 200px;
    width: 50.5%;
    margin-left: auto;
    height: 350px;
}
#weatherContainer h1 {
    margin: 5px;
    font-size: 3rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35%;
    border-radius: 20%;
}
#searchContainer input {
    width: 430px;
    height: 150px;
    font-size: 3rem;
    text-align: center;
    opacity: 0.5;
}
#searchContainer button {
    background-color:black;
    margin-left: 10px;
    color: white;
    width: 150px;
    font-size: 2.5rem;
}
.searchControl {
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#weatherMain {
    display: block;
    margin-bottom: 20px;
}
#weatherMain div {
    display: inline-block;
}
#weatherDescriptionHeader {
    font-size: 2.5rem;
    vertical-align: 25%;
}
#temperature {
    font-size: 38px;
    vertical-align: 25%;
    margin-right: 15px;
}
.bottom-details {
    display: block;
    font-size: 2.5rem;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}